$primary-color: #094357;
$secondary-color: #217C8E;
$third-color: #333129;

// greys

$grey1: #f2f2f2;
$grey2: #dbdbdb;
$grey3: #757575;

$theme-b-radius: 3rem;
// Fonts

$primary-font: "vag-rundschrift-d", helvetica, sans-serif;
$secondary-font: "futura-pt", helvetica, sans-serif;